body {
    background-color: white;
    font-family: Montserrat;
}

.panel-default .panel-footer {
     background-color: white;
     border: none;
}

.app-name, .navbar-brand {
     font-family: Delius;
     font-weight: bold;
}

.app-name {
     font-size: 17px;
}

.navbar, .navbar-default {
    background-color: #3097d1;
    border-color: #3097d1;
    color: white;
}

.navbar-default .navbar-brand {
     color: white;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav li .dropdown-toggle:hover, .navbar-default .navbar-nav li .dropdown-toggle:focus {
     color: #f7f7f7;
}

.navbar-default .navbar-nav li .dropdown-toggle:focus {
     background-color: #82c0e3;
}

.navbar-default .navbar-nav li .dropdown-toggle {
     color: white;
}

.auth-panel {
    width: 340px;
    margin: auto;
}

.navigation {
    list-style: none;
    margin: 0;
    padding: 10px 0;
}

.navigation > li > a {
    padding: 6px 20px;
    min-height: 30px;
    display: block;
    color: white;
}

.navigation > li:hover {
     background-color: #44a1d5;
}

.navigation > li > a:hover {
    text-decoration: none;
}

.navigation li.navigation-divider {
    margin: 10px 0;
    height: 1px;
    background-color: #44a1d5;
}

legend {
     color: #44a1d5;
     margin-bottom: 10px;
}

.panel {
    border-color: #97cbe8;
    border-radius: 0;
}

.breadcrumb {
    background-color: white;
}

.no-border {
    border: none;
}

table {
    font-size: 13px;
}

.modal table {
    font-size: 14px;
}

.action-buttons .btn-link:hover {
    text-decoration: none;
}

.select2-container {
    width: 100%;
}

.methods {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
}

.api-docs a:hover {
    text-decoration: none;
    cursor: pointer;
}

.api-docs a legend:hover{
    color: #777;
}

.icons-list {
    list-style: none;
}

.text-highlight {
     padding: 5px;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.login-panel {
     margin-top: 50px;
}

.sidebar {
     background-color: #3097d1;
     border-color: #3097d1;
}

.sidebar .panel-heading {
     background-color: #3097d1;
     border-color: #44a1d5;
     color: white;
}

.form-horizontal .control-label {
     margin-bottom: 5px;
     font-weight: normal;
}

.alert {
     border-radius: 0px;
}
